body {
    padding-top: 20px;
}

.container {
    width: 100%;
}

#sidebar {
    float: left;
    width : 200px;
    overflow-x:hidden;
    white-space:nowrap;
}

#sidebar input {
    margin: 5px;
    max-width: 160px;
}

#sidebar_area ol {
    list-style-type: none;
}

#noteTreeArea {
    overflow:hidden;
}

.contentArea {
    margin-left: 170px;
    padding: 1em;
    overflow: hidden;
}

#textEditView{
    display:none;
}

#mdView {
    display: none;
}

header {
    width:100%;
    padding: 1em;
    text-align: center;
    /*background: black;*/
    /*color: white;*/
    border-bottom: 1px solid black
}

footer {
    padding: 1em;
    text-align: center;
    background: black;
    color: white;
}

textarea {
    height: 100%;
    width: 100%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

div button {
    margin: 5px;
}

.menu_area {
    border-top: 2px black;
}

#add_button {
    border: 1px solid black;
    border-radius: 100%;
    font-family: Sans-sarif;
    font-weight: bold;
    font-size: 1em;
    background: rgb(200, 200, 255);
}

a:hover {
    /* http://stackoverflow.com/questions/2041388/how-to-remove-the-underline-for-anchorslinks */
    text-decoration: none;
    cursor: pointer;
}

#add_name {
    display: none;
}

.treeIndent {
    /*http://stackoverflow.com/questions/13223884/maintain-width-of-span-even-if-nothing-in-it*/
    display: inline-block;
}

#imageView {
    display : none;
}

/*http://stackoverflow.com/questions/16771225/css3-rotate-animation*/
.animatedLoadingIcon {
    display:none;
    -webkit-animation:spin 4s linear infinite;
    -moz-animation:spin 4s linear infinite;
    animation:spin 4s linear infinite;
}

.title {
    height : 2em;
    background-color : rgb(200,200,240);
}

@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

#toc_here {
    float:right;
}

.splitter 
{
    display:inline-block;
    background-color:black;
    cursor:col-resize;
    width:16px;
    min-height:200px;
}