body {
    padding-top: 20px;
}

.container {
    width: 100%;
}

#sidebar {
    float: left;
    width:280px;
    overflow:auto;
    resize: both;
    margin : 0.5em;
}

.row {
    word-wrap: break-word;
    margin: 0px;
}

.wrapper {
    float: left;
}

.contentArea {
    margin-left: 170px;
    margin: 0.5em;
    overflow: hidden;
}

#mdView {
    display: none;
}

header {
    width: 100%;
    text-align: center;
    /*background: black;*/
    /*color: white;*/
    border-bottom: 1px solid black
}

footer {
    padding: 1em;
    text-align: center;
    background: black;
    color: white;
}

#codeEditView {
    display:none;
}

#textEditView {
    display: none;
    height: 100%;
    width: 100%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

div button {
    margin: 5px;
}

.title a{
    margin-left:20px;
    line-height: 30px;
}

.menuArea {
    border-top: 2px black;
}

.menuArea a{
    margin: 10px;
}

#add_button {
    border: 1px solid black;
    border-radius: 100%;
    font-family: Sans-sarif;
    font-weight: bold;
    font-size: 1em;
    background: rgb(200, 200, 255);
}

a:hover {
    /* http://stackoverflow.com/questions/2041388/how-to-remove-the-underline-for-anchorslinks */
    text-decoration: none;
    cursor: pointer;
}

#add_name {
    display: none;
}

.treeIndent {
    /*http://stackoverflow.com/questions/13223884/maintain-width-of-span-even-if-nothing-in-it*/
    display: inline-block;
}

#imageView {
    display: none;
}


/*http://stackoverflow.com/questions/16771225/css3-rotate-animation*/

.animatedLoadingIcon {
    display: none;
    -webkit-animation: spin 4s linear infinite;
    -moz-animation: spin 4s linear infinite;
    animation: spin 4s linear infinite;
}

.title {
    height: 2em;
    background-color: rgb(200, 200, 240);
}

@-moz-keyframes spin {
    100% {
        -moz-transform: rotate(360deg);
    }
}

@-webkit-keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

#toc_here {
    float: right;
}

/*#codeView {*/
/*    width : 500px;*/
/*    height : 500px;*/
/*    overflow : auto;*/
/*    background-color:gray;*/
/*}*/

#contextMenu {
    position: absolute;
    display: none;
    background-color:white;
    border:1px solid black;
}

.contextMenuItem {
    padding-left:5px;
    padding-right:5px;
}

.contextMenuItem:hover {
    background-color:rgb(200,200,200);
}

/*http://stackoverflow.com/questions/1027354/need-an-unordered-list-without-any-bullets*/

.mainMenu {
    margin : 16px;
}

.mainMenu a {
    text-decoration: none;
    color:black;
    padding:16px;
}

.mainMenu a:hover{
    background-color:#eeeeee;
}

.mainMenu span {
    color:black;
    padding:16px;
}