#toc_here
{
  display:inline-block;
  padding:10px 10px 10px 10px;
  Margin:10px;
  background-color: #f2f2f2;
  border-bottom: 1px solid #ccc; 
  border-top: 1px solid #ccc;
}
#toc_here div
{
  font-weight:bold;
}
#toc
{
  padding:5px 10px 5px 10px;
  margin:5px 5px 0px 5px;
  list-style: none;
  background-color: #f2f2f2;
  border-bottom: 1px solid #ccc; 
  border-top: 1px solid #ccc;
}
#toc li[tocgen_depth="3"]
{
  text-indent: 15px;
}
#toc li[tocgen_depth="4"]
{
  text-indent: 30px;
}
#toc li[tocgen_depth="5"]
{
  text-indent: 45px;
}
#toc li[tocgen_depth="6"]
{
  text-indent: 60px;
}
#toc li a
{
  text-decoration: none;
  font-weight: bold;
  color: #069;
}
#toc li a:hover
{
  color: #c00;
}